{% extends 'Blog/base.html' %}
{% load static %}
{% block bootstrap.links %}
<!--  Bootstrap styling links-->
  <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}" type="text/css"/>
      <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}" type="text/css"/>
          <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}" type="text/css"/>
            <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css"/>
              <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
                <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
                <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css"/>
<!--  End of Bootstrap styling links-->


<!--Bootstrap Javascript links -->
     <script src="{% static 'js/bootstrap.bundle.js' %}">Bootstrap Javascript</script>
     <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
          <script src="{% static 'js/bootstrap.js' %}"></script>
            <script src="{% static 'jquery/jquery.js' %}"></script>
              <script src="{% static 'jquery/jquery.min.js' %}"></script>
                <script src="{% static 'jquery/jquery.slim.js' %}"></script>
                  <script src="{% static 'jquery/jquery.slim.min.js' %}"></script>
<!--  End of BootstrapJavascript links -->
{% endblock %}
