{% extends 'links.html'%}

{% load static %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image:  url('static/blog/img/home-bg.jpg')">
<!-- url('media/images/project-3.jpg')  -->
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <form style="margin-left:40em" action="/" method="get" class="form-inline mt-2 mt-md-1">
        <input id="q" name="q" value="{{ request.GET.q }}" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {% for post in posts %}
        <div class="post-preview">
          <a href="{% url 'detail' post.slug %}">
            {% if post.image.url != '' %}
              <img  src="{{post.image.url}}" width="150px" height="100px">
            {% else %}

            {% endif %}
            <h2 class="post-title" style="text-transform:uppercase">
              {{post.title | truncatechars:30}}
            </h2>
            <h3 class="post-subtitle">
              {{post.highlight | truncatechars:10}}
            </h3>
          </a><br>
          <h5 class="post-meta">Posted by
            <a href="{% url 'detail' post.slug %}">{{post.author}}</a>
          </h5>
            <strong>on {{post.pub_date}}</strong>
        </div><hr>
        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class=" btn btn-primary float-right" href="{% url 'next' %}">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

<div class="card my-4">
  <h5 class="card-header">Categories</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#">Web Design</a>
          </li>

          <li>
            <a href="#">HTML</a>
          </li>

          <li>
            <a href="#">Freebies</a>
          </li>
        </ul>
    </div>

    <div class="col-lg-6">
      <ul class="list-unstyled mb-0">
        <li>
          <a href="#">JavaScript</a>
        </li>
        <li>
          <a href="#">CSS</a>
        </li>

        <li>
          <a href="#">Tutorials</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}